/*====================================================================
COMMON LAYOUT
====================================================================*/
html {
  font-size: 62.5%; // 1rem = 10px

  // SP
  @include u-mqMax {
    font-size: calc(10vw / 3.75);
  }
}
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  @include u-hover {
    text-decoration: none;
  }
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  line-height: 100%;
  box-sizing: border-box;
}
L


/*-----------------------------------------------
PC/SP
------------------------------------------------*/
// PC
.u-pcDb {
  display: block;
}
.u-pcDib {
  display: inline-block;
}
.u-pcDin {
  display: inline;
}
.u-pcDf {
  display: flex;
}
.u-pcDt {
  display: table;
}
.u-pcDtc {
  display: table-cell;
}

.u-spDb,
.u-spDib,
.u-spDin,
.u-spDf,
.u-spDt,
.u-spDtc {
  display: none;
}

// SP
@include u-mqMax {
  .u-pcDb,
  .u-pcDib,
  .u-pcDin,
  .u-pcDf,
  .u-pcDt,
  .u-pcDtc {
    display: none;
  }

  .u-spDb {
    display: block;
  }
  .u-spDib {
    display: inline-block;
  }
  .u-spDin {
    display: inline;
  }
  .u-spDf {
    display: flex;
  }
  .u-spDt {
    display: table;
  }
  .u-spDtc {
    display: table-cell;
  }
}

/*-----------------------------------------------
main
------------------------------------------------*/
.siteContent {
  min-height: 100vh;

  // SP
  @include u-mqMax {
  }
}
.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 80px;
  @include u-mqMax {
      width:100%;
      padding:0 5%;
    }
}
